{% assign locale = site.data.i18n[page.lang] %}
<header class="side-bar"><div class="site-header"><button id="menu-button" class="site-button btn-reset" aria-label="{{ locale.nav.menu }}" aria-expanded="false"><span>{{ locale.nav.menu }}</span><svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg></button></div>
<nav aria-label="{{ locale.nav.docs }}" id="site-nav" class="site-nav">{% assign localized_pages = site.html_pages | where: 'lang', page.lang %}{% include components/nav/pages.html pages=localized_pages %}</nav></header>
